<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.iron.management.user.model.vo.User" alias="user"/>
        <typeAlias type="com.iron.management.menu.model.vo.Menu" alias="menu"/>
        <typeAlias type="com.iron.management.site.model.vo.Site" alias="site"/>
	</typeAliases>
    
</configuration>