<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="adminMapper">
    
    
    <resultMap type="admin" id="adminResultSet">
        <result column="ADMIN_ID" property="adminId" />
        <result column="ADMIN_PW" property="adminPw" />
        <result column="ADMIN_NM" property="adminNm" />
        <result column="ADMIN_MDF_DATE" property="adminMdfDate" />
        <result column="ADMIN_MDF_DATE" property="adminRegDate" />
    </resultMap>
    
    <select id="selectAdminList" resultMap="adminResultSet">
        SELECT ADMIN_ID
             , ADMIN_PW
             , ADMIN_NM
             , ADMIN_MDF_DATE
             , ADMIN_REG_DATE
          FROM ADMIN
    </select>
    
    <select id="selectAdmin" resultMap="adminResultSet" parameterType="String">
        SELECT ADMIN_ID
             , ADMIN_PW
             , ADMIN_NM
             , ADMIN_MDF_DATE
             , ADMIN_REG_DATE
          FROM ADMIN
         WHERE ADMIN_ID = #{adminId}
    </select>
    
    <insert id="insertAdmin" parameterType="admin">
        INSERT INTO ADMIN (
                          ADMIN_ID
                        , ADMIN_PW
                        , ADMIN_NM
                        , ADMIN_REG_DATE
                        )
                VALUES (
                          #{adminId}
                        , #{adminPw}
                        , #{adminNm}
                        , NOW()
                        )
    </insert>
    
    <delete id="deleteAdmin">
        DELETE
          FROM ADMIN
         WHERE ADMIN_ID = #{adminId}
    </delete>
    
    <update id="updateAdmin">
        UPDATE ADMIN
           SET ADMIN_PW = #{adminNewPw}
             , ADMIN_NM = #{adminNm}
             , ADMIN_MDF_DATE = NOW()
         WHERE ADMIN_ID = #{adminId}
    </update>
</mapper>